@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 70 16% 93%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 19 100% 48%;
    --primary-foreground: 19 75% 96%;

    --secondary: 216 95% 58%;
    --secondary-foreground: 216 78% 96%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 19 100% 48%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 70 16% 93%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 19 100% 48%;
    --primary-foreground: 19 75% 96%;

    --secondary: 216 95% 58%;
    --secondary-foreground: 216 78% 96%;;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 19 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  @apply scroll-smooth;
}

.sticky-nav {
  @apply sticky top-0 bg-gray-200/50 backdrop-blur z-10 shadow-sm transition;
}